{% extends "notifications/base_text.html" %}

{% load i18n extra_tags email_tags %}


{% blocktrans %}Howdy and welcome to {{ settings.APP_SHORT_NAME }}. We know you're busy, so we'll keep this real simple.{% endblocktrans %},
{% trans "Here's your login info (store it in a cool dry place):" %}

{% trans "Username: " %} {{ recipient.username }}
{% trans "Password: As IF we would send your password in cleartext!" %}

{% trans "Copy and paste this url into your web browser's address bar to help us verify your email address:" %}

{% fullurl "auth_validate_email" user=recipient.id code=validation_code %}

