{% load i18n  %}


<a href="{{ settings.APP_URL }}" style="border: 0;"><img src="{{ settings.APP_URL }}{{ settings.APP_LOGO }}" alt="{{settings.APP_TITLE}}" border="0"/></a>
<hr style="{{ hr_style }}" />

<p style="{{ settings.EMAIL_PARAGRAPH_STYLE }}">{% trans "Hello" %} {{ recipient.username }},</p>

{% block content %}{% endblock%}
<p>{% trans "Thanks" %},<br />{{settings.APP_SHORT_NAME}}</p>
{% if not exclude_finetune %}
<p>{% trans "P.S. You can always fine-tune which notifications you receive" %}
<a href="{{ settings.APP_URL }}{{ recipient.get_user_subscriptions_url }}" style="{{ settings.EMAIL_ANCHOR_STYLE }}">{% trans "here" %}</a>.
{% endif %}
</p>
<hr style="{{ hr_style }}" />
<p style="{{ settings.EMAIL_PARAGRAPH_STYLE }}"><small style="{{ small_style }}">{{ settings.EMAIL_FOOTER_TEXT }}</small></p>
</td></tr></tbody></table>
</center>
</body>
</html>
